* {
    margin: 0;
    padding: 0;
    font-family: "DM Mono", monospace;
}
#wrapper {
    display: grid;
    grid-template-rows: 100px auto 60px;
    grid-template-columns: 80px auto auto;
    grid-template-areas:
        "header header header"
        "menu input output"
        "footer footer footer";
}
#header {
    grid-area: header;
}
#menu {
    grid-area: menu;
    display: flex;
    flex-direction: column;
}
#input {
    grid-area: input;
    display: grid;
    grid-template-rows: 60px auto;
    grid-template-columns: auto;
    grid-template-areas:
        "inputHeader"
        "inputWrapper";
}
#output {
    grid-area: output;
    grid-template-rows: 60px auto;
    grid-template-columns: auto;
    grid-template-areas:
        "outputHeader"
        "outputCode";
}
#footer {
    grid-area: footer;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    margin-top: 10px;
}
.headerText {
    font-size: 32px;
    margin-left: 10px;
    line-height: 100px;
}
.mode {
    height: 40px;
    width: 40px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}
.mode:hover {
    cursor: pointer;
}
.img {
    height: 20px;
    width: 20px;
    padding: 10px;
}
.on {
    background-color: #1e272e;
    border: 1px solid #1a2227;
}
.off {
    background-color: #ecedf0;
    border: 1px solid #dcdde1;
}
#inputHeader {
    display: flex;
    flex-direction: row;
}
.inputText {
    font-size: 16px;
    line-height: 60px;
    flex-grow: 1;
    margin-left: 10px;
}
#run {
    height: 40px;
    width: 80px;
    background-color: #3742fa;
    border-radius: 8px;
    border-style: none;
    color: #fff;
    font-size: 16px;
    margin: 10px;
}
#run:hover {
    cursor: pointer;
    background-color: #4b54fd;
}
#inputWrapper {
    display: flex;
    flex-direction: column;
}
#inputCode {
    height: 600px;
}
.stdin {
    height: 60px;
    font-size: 16px;
    line-height: 60px;
    margin-left: 10px;
}
#inputData {
    height: 80px;
}
#outputText {
    grid-area: outputHeader;
    font-size: 16px;
    line-height: 60px;
    margin-left: 10px;
}
#outputCode {
    grid-area: outputCode;
    margin-left: 10px;
}
